    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(26, 106, 172);
      position: -webkit-sticky;  
      position: sticky;
      top: 0;
    }
    .card{
      background-image: url('src/assets/Images/login1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background:cover;
      height: 1000%;
      font-family: 'Numans', sans-serif;
      }
    li {
      float: left;
    }
    
    li a {
      display: block;
      color:lightcoral;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    .active {
      background-color: rgb(175, 76, 142);
    }
    .normal{
      background-color: cadetblue;
    }
    
    
    .header{
        background-color:rgb(204, 44, 191);
        text-align: center;
        
        
    } 