<div class="register" align="center">
    <div class="card-body">
    <h3 align ="center">ADD ITEM</h3>
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" align="center">
            <table>
                <!-- <tr>
                    <td><label>Item ID</label></td>
                    <td><input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                    <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                        <div *ngIf="f.id.errors.required">id is required</div>
                    </div></td>
                </tr> -->
                    <tr>
                        <td><label>Seller ID</label></td>
                        <td><input type="text" formControlName="sid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sid.errors }" />
                        <div *ngIf="submitted && f.Sid.errors" class="invalid-feedback">
                            <div *ngIf="f.Sid.errors.required">id is required</div>
                        </div></td>
                    </tr>
                    <tr>
                        <td><label style="color:red ">Choose Category</label></td>
                        <!-- <input type="text" formControlName="categoryId" class="form-control" /> -->
                       <td> <select formControlName="categoryId" class="form-control" (change)="GetSubCategory()">
                             <option *ngFor="let i of clist" value="{{i.categoryId}}">{{i.categoryName}}</option>   
                        </select></td>
                       </tr>
                       <br>
                        <tr>
                        <td> <label style="color:red" >Choose SubCategory</label></td>
                         <!-- <input type="text" formControlName="subcategoryId" class="form-control" /> -->
                          <td> <select formControlName="subcategoryId" class="form-control">
                             <option *ngFor="let item1 of sclist" value="{{item1.subcategoryId}}">{{item1.subcategoryName}}</option>   
                        </select></td>
                        </tr>
                <tr>
                    <td><label>Price</label></td>
                    <td><input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">enter price</div>
                    </div></td>
                </tr>
                    <tr>
                        <td><label>Item Name</label></td>
                <td><input type="text" formControlName="itemName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                    <div *ngIf="f.itemname.errors.required"> enter item name</div>
                </div></td>
            </tr>
            <tr>
                <td><label>Descrption</label></td>
                <td><textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">enter description</div>
                </div></td>
            </tr>

            <tr>
                <td><label>Stock No</label></td>
                <td><input type="number" formControlName="stockNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.StockNumber.errors }" />
                <div *ngIf="submitted && f.StockNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.StockNumber.errors.required">please enter stock </div>
                </div></td>
            </tr>
            <tr>
                <td><label>Remarks</label></td>
                <td><input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                    <div *ngIf="f.remarks.errors.required">give remark</div>
                </div></td>
            </tr>
            <tr>
                <td><label>Image</label></td>
                <td><input type="file" formControlName="image" (change)="fileEvent($event)">
                <br><br>
                <div *ngFor="let items of item">
                    <div>
                        <img src='assets/images/{{items.image}}' style="height: 150px; width:150px;"><br>
                        Name:{{items.itemName}}
                    </div>
                </div> 
            </td>
            </tr>
                <div class="text-center">
                <button class="btn btn-primary mr-1" type="submit" >Add</button>
                <button class="btn btn-primary mr-1" type="reset" (click)='onReset()'>Reset</button>
            </div>
        </table>
        </form>
</div>
</div>


