input[type=text],
input[type=date],
input[type=password]
{
    width:150%;
    padding: 7px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(190, 38, 122);
    box-sizing: border-box;
    border-radius: 100px;
    
  }
  .button1 {background-color: blue;
    text-decoration-color: white;}
    
    .bg{
        border-radius: 10px;
        background-color:rgb(47, 131, 180);
        padding: 10px;
        width: 100%;
        box-align:center;
        margin: 150px;
        float: center;
        margin-top: 50px ;
        background-image: url("src/assets/Images/shopping.jpg");
    
        background-image: no-repeat;
    
        background-size:100% 100%;
        
    }
    h3{
      color:red;
    }
    /* .register{
    background-image: url('src/assets/images/additems.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    } */
    label{
    color:red;
    right: 20px;
    }
    