input[type=text],
input[type=number],
input[type=password],
input[type=date]
{
    width: 80%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(190, 38, 122);
    box-sizing: border-box;
    border-radius: 30px;
    
  }
  .button1 {background-color: blue;
    text-decoration-color: white;}
    .register{
        border-radius: 5px;
        background-color:wheat;
        padding: 10px;
        width: 30%;
        box-align:center;
        margin: 300px;
        float: center;
        margin-top: 50px ;
        /* background-image: url("src/assets/Images/shopping.jpg");
        background-image: no-repeat;
        background-position: center; */
    }
    h3{
      color:red;
    }
    /* .register{
    background-image: url('src/assets/images/additems.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    } */
    label{
    color:red;
    right: 20px;
    }
    .registerForm{
        text-align: center;
        background-color: palevioletred;
    }
    html,body{
      background-image: url('src/assets/Images/login1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background:cover;
      height:700px;
      width:7000;
      font-family: 'Numans', sans-serif;
      }