<div class="register-wrap">
  <h3 align="center">Billing Details</h3>
  <div class="form-row">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <table>
              <tr>
              <td><label>Number Of Items</label></td>
              <td><input type="number" formControlName="NumberOfItems" class="form-control"></td>
          </tr>
            <tr>
              <td><label>Date</label></td>
              <td><input type="date" formControlName="datetime" class="form-control"></td>
            </tr>
          <tr>
              <td><label> PayMent Mode</label></td>
              <select formControlName="TranscationType">
                  <option value="-1">Choose..</option>
                  <option value="credit">Credit Card</option>
                  <option value="debit">Debit Card</option>
              </select>
          </tr>
            <tr>
              <td><label>Card Holders Name</label></td>
              <td><input type="text"formControlName="name"></td>
            </tr>
            <tr>
              <td><label>Card Number</label></td>
              <td><input type="text" formControlName="cardnumber"></td>
            </tr>
            <tr>
              <td><label>CVV</label></td>
              <td><input type="number" style="width:30%" formControlName="cvv"></td>
            </tr>
            <tr>
              <td><label>ExpiryDate</label></td>
              <td><input type="date" formControlName="expirydate"></td>
            </tr>
            
            <tr>
              <td><label>Remarks</label></td>
              <td><input type="text" formControlName="remarks" class="form-control"></td>
            </tr>
          </table>
              <button type="submit" class="btn btn-primary mr-1">Purchase</button>
      </form>
  </div>
  </div>
  
