<div class="card m-1" style="width:100%;align-items: center;">
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Item Id</th>
                 <th>Category Id</th>
                <th>SubCatergory Id</th>
                <th>Price</th> 
                <th>ItemName</th>
                <th>Description</th>
                <th>Stockno</th>
                <th>Remarks</th>
                <th>SellerId</th>
                <th>Images</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of list">
               <td>{{item.id}}</td>
                <td>{{item.categoryId}}</td>
               <td>{{item.subcategoryId}}</td>
               <td>{{item.price}}</td> 
               <td>{{item.itemName}}</td>
               <td>{{item.description}}</td>
               <td>{{item.stockNumber}}</td>
               <td>{{item.remarks}}</td>
               <td>{{item.sid}}</td>
               <td> <img src='/assets/Images/{{item.image}}' style="height:150px; width:150px;"></td>
               <td>
                  <button type="button" class="btn btn-primary" (click)="GetItem(item.id)"data-toggle="modal" data-target="#myModal">
                   Edit
                  </button></td>
                  <td><button class="btn btn-danger" type="button" (click)="Delete(item.id)">Delete</button></td>
                 </tr>
                 </table>
                 </div>
                 </div>
                 <div class="container" >
    
                    <!-- Trigger the modal with a button -->
                    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                   -->
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Form</h4>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="itemForm">
                               <div class="form-group ">
                                    <label>subcategoryId</label><br>
                                    <input type="text" formControlName="subcategoryId" class="form-control" readonly /> -->
                                </div>
                                <div class="form-group ">
                                    <label>CategoryName</label><br>
                                    <input type="text" formControlName="categoryId" class="form-control" readonly />
                                </div>
                                <div class="form-group ">
                                  <label>subcategory id</label><br>
                                  <input type="text" formControlName="subcategoryId" class="form-control" readonly />
                              </div>
                             
                         <div class="form-group ">
                            <label>SellerId</label><br>
                            <input type="text" formControlName="sid" class="form-control" readonly />
                           </div>
                         <div class="form-group ">
                            <label>ItemId</label><br>
                            <input type="text" formControlName="id" class="form-control" readonly /> 
                         </div>
                            <div class="form-group ">
                                <label>ItemName</label><br>
                                <input type="text" formControlName="itemName" class="form-control" required />
                                
                            </div>
                          
                          
                          <div class="form-group ">
                              <label>Description</label><br>
                              <textarea formControlName="description" class="form-control" required ></textarea>
                                </div>
                        
                        
                          <div class="form-group">
                            <label>Price</label>
                            <input type="text" formControlName="price" class="form-control" required />
                           
                        </div>
                        
                        <div class="form-group">
                            <label>StockNumber</label>
                            <input type="text" formControlName="stockNumber" class="form-control" required />
                                </div>
                        
                        <div class="form-group">
                            <label>Remarks</label>
                            <textarea formControlName="remarks" class="form-control" required ></textarea>
                            
                        </div>   
                        <div>
                          <label>Image</label>
                          <input type="file" formControlName="image" (change)="fileEvent($event)">
                          <br><br>
                          <div *ngFor="let items of item">
                              <div>
                                  <img src='assets/images/{{items.image}}' style="height: 150px; width:150px;"><br>
                                  Name:{{items.itemName}}
                              </div>
                          </div> 
                      
                        </div>
                                  
                        
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Update()">Save</button>
                          </div>
                            </form>
                        </div>

                        
                        
                      </div>
                    </div>
                    
                    </div>
                  </div>
                  
                    
                  