<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body >

    <div class="topnav">
        <a class="active"  [routerLink]="['Home']"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['Additem']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-sunglasses"> </span>  Add item</a>
        <a [routerLink]="['Viewitems']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-time"> </span>  viewitems</a>
        <a [routerLink]="['sellerviewprofile']" routerLinkActive="router-link-active" ><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a [routerLink]="['viewreports']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-shopping-cart"></span> view reports</a>
        <a href="#" id="l" ><i class="fa fa-fw fa-user"></i>logout</a>
    </div>

      <!-- <div class="sidenav">
        <a href=#><span class="glyphicon glyphicon-shopping-cart"></span> BuyProduct</a>
        <a href=#><span class="glyphicon glyphicon-time"> </span>  PurchaseHistory </a>
        <a href=#><span class="glyphicon glyphicon-sunglasses"> </span>  ViewCart</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>buyereditprofile</a>
  
    </div> -->
</body>
</html>
<router-outlet></router-outlet>
