.bg{
    /* border-radius: 5px;
    background-color:wheat;
    padding: 10px;
    width: 30%;
    box-align:center;
    margin: 300px; */
    float: center;
    margin-top: 50px ;
    /* background-image: url("src/assets/Images/shopping.jpg");
    background-image: no-repeat;
    background-position: center;  */
}