<!-- <div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a href="#" class="navbar-brand">Brand</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Home</a>
              <a href="#" class="nav-item nav-link">Profile</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Inbox</a>
                      <a href="#" class="dropdown-item">Sent</a>
                      <a href="#" class="dropdown-item">Drafts</a>
                  </div>
              </div>
          </div>
          <form class="form-inline">
              <div class="input-group">                    
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                      <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </form>
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link">Login</a>
          </div>
      </div>
  </nav>
</div> -->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="topnav">
        <a class="active"  href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['viewcart']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-sunglasses"> </span>  ViewCart</a>
        <a [routerLink]="['purchasehistory']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-time"> </span>  PurchaseHistory </a>
        <a [routerLink]="['buyerviewprofile']" routerLinkActive="router-link-active" ><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a [routerLink]="['Buyproduct']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-shopping-cart"></span> BuyProduct</a>

        <!-- <div class="search-container mt-5"> -->
            <!-- <form action="/action_page.php"> -->
              
      <input type="text" placeholder="Search.." name="search"[(ngModel)]="itemName">
      <button type="submit"(click)="search(itemName)"><i class="fa fa-search"></i></button>
&nbsp;
      <a href="#" id="l" ><i class="fa fa-fw fa-user"></i>logout</a>
            <!-- </form> -->
        
        <!-- </div> -->
    </div>

      <!-- <div class="sidenav">
        <a href=#><span class="glyphicon glyphicon-shopping-cart"></span> BuyProduct</a>
        <a href=#><span class="glyphicon glyphicon-time"> </span>  PurchaseHistory </a>
        <a href=#><span class="glyphicon glyphicon-sunglasses"> </span>  ViewCart</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>buyereditprofile</a>
  
    </div> -->
    
<div class="row">

  
    <!-- <h1 class="display-1">Ocean of Items</h1> -->
      
      <!-- cards -->
      <div class="card col-sm-2"*ngFor="let i of itemlist" >
        <img src="/assets/Images/emart1.jpg" alt="Denim Jeans" style="width:100%">
        <h1>{{i.itemName}} </h1>
        <p class="price">{{i.price}}</p>
        <p>{{i.itemDescription}}</p>
        <p><button>Buy Now</button></p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <br/>
    <br/>
    
</body>
</html>

<router-outlet></router-outlet>



