<p>purchase-history works!</p>
<div class="view"align="center">    
    <div class="container" >
           <div class=" table" >
            <div class="table-info">
                <table>
               <tr>
                   <th>Id</th>
                   <th>Buyer Id</th>
                   <th>Seller Id</th>
                   <th>Transactiontype</th>
                   <th>Item Id</th>
                   <th>Remarks</th>
               </tr>
               <tr *ngFor="let purchasehistory of list">  
                    <td>{{purchasehistory.id}}</td>
                    <td>{{purchasehistory.buyerid}}</td>
                    <td>{{purchasehistory.sellerid}}</td>
                    <td>{{purchasehistory.transcationType}}</td>
                    <td>{{purchasehistory.itemid}}</td>
                    <td>{{purchasehistory.remarks}}</td>
               </tr>
              </table>
            </div>   